*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#020617);
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
color:white;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
color:#38bdf8;
}

/* HERO */

.hero{
text-align:center;
padding:150px 20px;
}

.hero h1{
font-size:60px;
background:linear-gradient(90deg,#38bdf8,#22c55e);
-webkit-background-clip:text;
color:transparent;
}

.hero p{
margin-top:20px;
font-size:20px;
opacity:0.8;
}

.start-btn{
margin-top:30px;
padding:15px 40px;
border:none;
border-radius:30px;
background:linear-gradient(90deg,#38bdf8,#22c55e);
color:white;
font-size:18px;
cursor:pointer;
transition:0.3s;
}

.start-btn:hover{
transform:scale(1.1);
}

/* COURSES */

#courses{
text-align:center;
padding:100px 20px;
}

#courses h2{
font-size:40px;
margin-bottom:50px;
}

.courses{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:40px;
}

.card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
padding:40px;
border-radius:20px;
width:260px;
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
background:rgba(255,255,255,0.1);
}

footer{
text-align:center;
padding:30px;
opacity:0.7;
}
